
body {
}
.slider {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	text-decoration:none;
}

/* div contenedor de todo
-------------------------------------------*/
.powerSlide .wrapp {
overflow: hidden;
padding: 15px;
position: relative;
}
/* posicion imagen
-------------------------------------------*/
.powerSlide .wrapp img {
position: absolute; /* They key to the “effects” approach */
}
/* Previo & Siguiente botones para cambiar imagenes
-------------------------------------------*/
.powerSlide .prev,
.powerSlide .next {
display: none;
margin-top: -1em; /* igual que el padding-top */
padding: 1em 2em;
position: absolute;
text-decoration: none;
top: 50%;
}
.powerSlide .next {
right: 0;
}
/* Caption
-------------------------------------------*/

/*.powerSlide .wrapper p {
bottom: 0;
display: none;
padding: 1.5em;
position: absolute;
}*/

/* Navegacion para mover las imagenes donde un quiera
-------------------------------------------*/
.powerSlide .navegacion {
margin: .5em 0;
overflow: hidden;
}
.powerSlide .navegacion {
padding: 15px; /* igual que el contendor de todo */
}
.powerSlide .navegacion img.thumb {
cursor: pointer;
float: left;
margin: 2px;
position: relative;
}
.powerSlide .navegacion img.thumb.current { /* miniatura actual */
z-index: 999;
}
.powerSlide .navegacion a {
float:left;
margin: .2em;
min-width: 1em;
padding: .2em .7em;
text-align: center;
text-decoration: none;
}
.powerSlide .navegacion a.current {} /* check actual */
