.slideAnything /* div container of the slider */
{
    font-family: 'Open Sans' , "HelveticaNeue-Light" , "Helvetica Neue Light" , "Helvetica Neue" , Helvetica, Arial, sans-serif;
    position: relative;
}
.listaimagenes /*container the list of div of images*/
{

}

.botonesnav div a  /*class container of the 'previous' anchor*/
{
    padding: 10px;
    position: absolute;
    background: white;
    text-decoration: none;
    color: #000;
    top: 42.33%;
}

.botonesnav div a:hover /*containing the anchor effect for effect when passing the pointer*/
{
    background: #000;
    color: #fff;
}

.contenedornavegacion   /*div containing all navigation list*/
{
    margin-top: 10px;
}
.navegacion        /*UL class navigation, remove the list style*/
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.navegacion li /*to align horizontally li*/
{
    float: left;
}
.navegacion li a  /*to style the list*/
{
    padding: 5px 10px;
    background: #000;
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

.navegacion li a:hover  /*hover css gimmick*/
{
    background: #ececeb;
    color: #000;
}

.botonesnav /* acts as a wrapper to the previous and next buttons*/
{

}
.hiddenElement
{
    display: none;
}
